<body>
<style type="text/css">

    p {
        margin-bottom: 10px;
        font-size: 0.8em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    table td, table th {
        font-size: 0.8em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    table th {
        text-align: left;
        font-weight: bold;
    }

    h2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    .smallprint {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 0.7em;
        margin-top: 40px;
    }
</style>
<p>Dear {{ recipient.title }} {{ recipient.lastNames }},</p>
<table>
    <tr><th>Order reference:</th><td>{{ order.reference }}</td></tr>
</table>

<p>We are pleased to confirm your order for the {{ order.suborders|length > 1 ? 'bookings' : 'booking' }} below:</p>

{% for suborder in order.suborders %}
<h2>Booking {{ suborder.externalId }}</h2>
<table>
    <tr><th>Course:</th><td>{{ suborder.description }}</td></tr>
    {#<tr><td>Course:</td><td></td></tr>#}
    {#<tr><td>Course code:</td><td>{{ course.code }}</td></tr>#}
    {#<tr><td>Course dates:</td><td>{{ course.startDate | date('j M Y')}} - {{ course.endDate | date('j M Y')}}</td></tr>#}

    {#{% if accommodationChoiceDescription is defined %}#}
        {#<tr><td>Accommodation:</td><td>{{ accommodationChoiceDescription }}</td></tr>#}
    {#{% endif %}#}
</table>
<br />
<table>
    {% set total = 0 %}
    {% for item in suborder.lineItems %}
        {% set total = total + item.amount %}
        <tr><td>{{ item.description }}</td><td>&pound;{{ (item.amount/100)|number_format(2, '.', '') }}</td></tr>
    {% endfor %}
    <tr><td>VAT at 0%</td><td>&pound;0.00</td></tr>
    <tr><th>Total:</th><td>&pound;{{ (total/100)|number_format(2, '.', '') }}</td></tr>
</table>
{% endfor %}

{% set receivable = order.suborders|first.paymentGroup.receivables|first %}
{% if 'ONLINE' == receivable.method %}
<p>Your payment will appear on your credit or debit card statement with the reference 'www.cam.ac.uk 01223 766733'.</p>
{% endif %}

<h2>Contacting us</h2>
<p>
    If you would like to contact us regarding your order, please contact our Admissions Team on <a href="mailto:ice.admissions@ice.cam.ac.uk">ice.admissions@ice.cam.ac.uk</a> or +44 (0)1223 746262.
</p>

<div class="smallprint">
    For information on our terms and conditions please visit <a href="http://www.ice.cam.ac.uk/terms">http://www.ice.cam.ac.uk/terms</a><br>
    Your security is important to us and we ensure your personal information is protected. For details see <a href="http://www.ice.cam.ac.uk/privacy">http://www.ice.cam.ac.uk/privacy</a><br>
    Registered Address: The University of Cambridge, The Old Schools, Trinity Lane, Cambridge CB2 1TN<br>
    VAT Registration No: 823 8476 09
</div>
</body>