<body>
<style type="text/css">

    p {
        margin-bottom: 10px;
        font-size: 0.8em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    table td {
        font-size: 0.8em;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    h2 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    .smallprint {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 0.7em;
        margin-top: 40px;
    }
</style>
<p>Dear {{ recipient.title }} {{ recipient.lastNames }},</p>
<table>
    <tr><td>Order reference:</td><td>{{ booking.orderReference }}</td></tr>
    <tr><td>Booking reference:</td><td>{{ booking.bookingReference }}</td></tr>
</table>

<p>We are pleased to confirm your place on the course below:</p>

<table>
<tr><td>Course:</td><td>{{ course.title }}</td></tr>
<tr><td>Course code:</td><td>{{ course.code }}</td></tr>
<tr><td>Course dates:</td><td>{{ course.startDate | date('j M Y')}} - {{ course.endDate | date('j M Y')}}</td></tr>

{% if accommodationChoiceDescription is defined %}
    <tr><td>Accommodation:</td><td>{{ accommodationChoiceDescription }}</td></tr>
{% endif %}
</table>

{% if showSectionStudyingAtICE %}
<h2>Studying at the Institute of Continuing Education (ICE)</h2>
<p>
    Please see <a href="http://www.ice.cam.ac.uk/studying-with-us/information-for-students">our website</a> for information
    regarding studying at ICE, including the Student Handbook which details important policies relating to your study.
</p>

{% endif %}
{% if showSectionOnlineNextSteps %}
    <h2>Next Steps</h2>
    <p>
        Access to your online course area will open on {{ course.startDate | date('F jS Y') }}. You will be sent instructions to this email
        address on how to access your online course (including your username and password) shortly before this date
        (normally the Friday before the course begins). If you have not received these instructions <strong>BY</strong>
        {{ course.startDate | date('F jS Y') }} please contact the <a href="http://support.iceonline.cam.ac.uk">eLearning Helpdesk</a>.
    </p>

{% endif %}
{% if courseMaterialsDelivery is defined %}
<h2>Course materials</h2>
{% if courseMaterialsDelivery == 'vle' %}
<p>
    Course materials will be posted on your online course space via our Virtual Learning Environment (VLE), and will be
    made available to you from the course start date. Please note that there is no requirement to complete any reading
    or coursework in advance of the start date.
</p>
{% else %}
<p>
    Course materials for this course will be e-mailed to you when available. Please contact us if you have not received these two weeks before the course start date.
</p>
<p>
    If you are taking an undergraduate qualification, your course specification (handbook) can be found under Downloads on the <a href="{{ course.webUrl }}">web page for your course</a>. The course specification gives detailed information about course-content, assignments, teaching dates and reading lists as well as resources available to you.
</p>
{% endif %}
{% endif %}

<h2>Contacting us</h2>
<p>
If you would like to contact us regarding this booking, please contact {% if contact == 'online' %}<a href="mailto:onlinecourses@ice.cam.ac.uk">onlinecourses@ice.cam.ac.uk</a> or +44 (0)1223 760852{% else %}our Admissions Team on <a href="mailto:ice.admissions@ice.cam.ac.uk">ice.admissions@ice.cam.ac.uk</a> or +44 (0)1223 746262{% endif %}.
</p>

<div class="smallprint">
For information on our terms and conditions please visit <a href="http://www.ice.cam.ac.uk/terms">http://www.ice.cam.ac.uk/terms</a><br>
Your security is important to us and we ensure your personal information is protected. For details see <a href="http://www.ice.cam.ac.uk/privacy">http://www.ice.cam.ac.uk/privacy</a><br>
Registered Address: The University of Cambridge, The Old Schools, Trinity Lane, Cambridge CB2 1TN<br>
VAT Registration No: 823 8476 09
</div>
</body>